<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
  </head>
  <body>
    <header>
        <!-- <a href="/" class="back">返回</a> -->
        <h1 id="showProject"><%=name%></h1>
        <span class="version" id="showVersion"><%=version%></span>
        <ul class="versionList">
            <% versions.forEach(function(el){%>
                <li><%=el.name%><%=el.date%></li>
            <%})%>
        </ul>
    </header>
    
    <div class="address">
        <ul>
        <% versions.forEach(function(el){%>
            <% if (el.name === version) { %>
                <li><b>PRD地址：</b><input type="text" data-type="prd"  value="<%=el.prd.mapping%>">  <button>更新</button> <span>上次更新时间：<%=el.prd.time%></span> </li>
                <li><b>交互地址：</b><input type="text" data-type="prototype" value="<%=el.prototype.mapping%>">  <button>更新</button> <span>上次更新时间：<%=el.prototype.time%></span> </li>
                <li><b>视觉稿地址：</b><input type="text" data-type="visual" value="<%=el.visual.mapping%>">  <button>更新</button> <span>上次更新时间：<%=el.visual.time%></span> </li>
            <%}%>
         <%})%>
        </ul>
    </div>

    <div class="display">
        <div class="tab">
            <a id="prd" class="tab_prd" href="#prd" data-type="prd" >PRD</a>
            <a id="prototype" class="tab_prototype" href="#prototype" data-type="prototype">交互</a>
            <a id="visual" class="tab_visual" href="#visual" data-type="visual">视觉</a>
        </div>
        <iframe src="" frameborder="0" id="showIframe"></iframe>
    </div>

    <script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="/javascripts/detail.js"></script>
  </body>
</html>