<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
  </head>
  <body>
    <header>
        <!-- <a href="/" class="back">返回</a> -->
        <h1><%=product%></h1>
        <span class="version"><%=version%></span>
        <ul class="versionList">
            <% versions.forEach(function(el){%>
                <li><%=el.name%><%=el.date%></li>
            <%})%>
        </ul>
    </header>
    
    <div class="address">
        <ul>
            <li><b>PRD地址：</b><input type="text" data-type="prd"  value="<%=prd.mapping%>">  <button>更新</button> <span>上次更新时间：<%=prd.time%></span> </li>
            <li><b>交互地址：</b><input type="text" data-type="prototype" value="<%=prototype.mapping%>">  <button>更新</button> <span>上次更新时间：<%=prototype.time%></span> </li>
            <li><b>视觉稿地址：</b><input type="text" data-type="visual" value="<%=visual.mapping%>">  <button>更新</button> <span>上次更新时间：<%=visual.time%></span> </li>
        </ul>
    </div>

    <div class="display">
        <div class="tab">
            <button class="tab_prd" data-type="prd" >PRD</button>
            <button class="tab_prototype" data-type="prototype">交互</button>
            <button class="tab_visual" data-type="visual">视觉</button>
        </div>
        <iframe src="" frameborder="0" id="showIframe"></iframe>
    </div>

    <script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="/javascripts/detail.js"></script>
  </body>
</html>