<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% if (title === 'versions') { %>
            <h2 id="projectName"><%= project %></h2>
            <input type="text">
            <button class="addVersion">添加版本</button>
        <% } %>
        <% if (title === 'projects') { %>
            <input type="text">
            <button class="addProject">添加项目</button>
        <% } %>
        <ul>
            <% if (title === 'projects') { %>
                <% projects.forEach(function(el){%>
                    <li><a href="/<%=el.name%>"><%=el.name%></a></li>
                <%})%>
                <% } %>
            <% if (title === 'versions') { %>
                <% versions.forEach(function(el){%>
                    <li><a href="/<%= project %>/<%=el%>"><%=el%></a></li>
                <%})%>
            <% } %>
        </ul>
    <script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    </body>
</html>